<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="TransmitPacketSize" value="32768" />
    <add key="CompressExtensions" value=".bc, .fx, .js, .jsx, .htm, .wav, .exr, .hdr, .dds, .bin, .mem, .glb, .gltf, .glsl, .wasm, .data, .html, .json, .babylon, .jscript, .javascript" />
    <add key="SecureConnectionRequired" value="false" />
    <add key="SecureConnectionRedirectPort" value="443" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>		
			<remove fileExtension=".bc" />
			<mimeMap fileExtension=".bc" mimeType="application/bc" />
			<remove fileExtension=".fx" />
			<mimeMap fileExtension=".fx" mimeType="application/fx" />
			<remove fileExtension=".gz" />
			<mimeMap fileExtension=".gz" mimeType="application/gzip" />
			<remove fileExtension=".wav" />
			<mimeMap fileExtension=".wav" mimeType="application/wav" />
			<remove fileExtension=".dds" />
			<mimeMap fileExtension=".dds" mimeType="application/dds" />
			<remove fileExtension=".exr" />
			<mimeMap fileExtension=".exr" mimeType="application/exr" />
			<remove fileExtension=".hdr" />
			<mimeMap fileExtension=".hdr" mimeType="application/hdr" />
			<remove fileExtension=".tga" />
			<mimeMap fileExtension=".tga" mimeType="application/tga" />
			<remove fileExtension=".mem" />
			<mimeMap fileExtension=".mem" mimeType="application/mem" />
			<remove fileExtension=".data" />
			<mimeMap fileExtension=".data" mimeType="application/data" />
			<remove fileExtension=".wasm" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<remove fileExtension=".glsl" />
			<mimeMap fileExtension=".glsl" mimeType="application/glsl" />
			<remove fileExtension=".gltf" />
			<mimeMap fileExtension=".gltf" mimeType="application/gltf" />
			<remove fileExtension=".glb" />
			<mimeMap fileExtension=".glb" mimeType="application/glb" />
			<remove fileExtension=".unitypackage" />
			<mimeMap fileExtension=".unitypackage" mimeType="application/unity" />
    </staticContent>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
			  <add name="Access-Control-Allow-Credentials" value="true" />				
			</customHeaders>
		</httpProtocol>
  </system.webServer>
</configuration>
